.form-container {
    margin: 80px 0;
    height: 500px;


    h2 {
        font-size: 2em;
        text-align: center;
    }
    .form-group {
        display: flex;
        margin-bottom: 15px;
    }
    form {
        max-width: 800px;
        margin: 50px auto;
    }
    input,
    textarea {
        outline: none;
        padding: 10px;
        flex: 1;
        border-radius: 4px;
        border: 1px solid #ddd;
    }
    label {
        width: 150px;
        padding-right: 10px;
        color: black;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    button:hover {
        background-color: #218838;
    }
}
